body {
  margin: 0;
  background-image: url(img/weather-default.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease;
}

.layout1 {
  position: relative;
  float: left;
  width: 20%;
  height: 100vh;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.589);
  
}

.layout1 input {
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  color: white;
  margin: 15px;
  font-size: 20px;
  outline: none;
}

input#search {
  text-align: center;
}

button {
  font-size: 20px;
  border: 0;
  background-color: transparent;
  margin-left: -16px;
  color: white;
}

#weather-container, input, button {
  position: relative;
  top: 50px;
}

#weather-container {
  font-size: 25px;
  visibility: hidden;
}

.layout2 {
  float: right;
  color: rgb(255, 255, 255);
  background-color: var(--background-color);
  display: var(--display);
}

.weather-info {
  transform: translate(0%, 150%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#search-btn:focus + #weather-container2 + .weather-info {
  visibility: visible;
}

#weather-container2 {
  background-color: rgba(0, 0, 0, 0.589);
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 20px;
  gap: 15px;
  visibility: hidden;
}

#weather-container2 i {
  font-size: 50px;
}

#weather-container2 h2 {
  margin: 0px;
  font-size: 35px;
}

#weather-container2 p {
  margin: 0px;
  font-size: 50px;
}